
@model Author
<!--برای اینکه چند پارشال میخوهیم همزمان اجرا شود-->
<!--Modal header-->
@if (Model.AuthorId != 0)
{
    @await Html.PartialAsync("_ModalHeaderPartial", new ModalHeader { Heading = "ویرایش نویسنده" })
}
else
{
    @await Html.PartialAsync("_ModalHeaderPartial", new ModalHeader { Heading = "افزودن نویسنده" })
}

<form asp-action="/" role="form">
    <!--Modal body-->
    <div class="modal-body">



        <div class="form-group row">

            <label class="col-lg-3 col-sm-3 col-form-label" asp-for="AuthorName"></label>
            <div class="col-6">
                <input class=" form-control" asp-for="AuthorName" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-sm-3 col-form-label" asp-for="AuthorDescription"></label>
            <div class="col-6">
                <input class=" form-control" asp-for="AuthorDescription" />
            </div>
        </div>


    </div>

    <!--Modal footer-->
    @if (Model.AuthorId != 0)
    {
        @await Html.PartialAsync("_ModalFooterPartial", new ModalFooter { SubmitButtonText = "ویرایش نویسنده" })
    }
    else
    {
        @await Html.PartialAsync("_ModalFooterPartial", new ModalFooter { SubmitButtonText = "افزودن نویسنده " })
    }
</form>