
@model Author

<form asp-controller="Author" asp-action="AddEditAuthor" id="form-addedit-author" data-ajax-method="POST"
      data-ajax="true" data-ajax-update="#form-addedit-author" data-ajax-mode="replace">

    <!--برای اینکه چند پارشال میخوهیم همزمان اجرا شود-->
    <!--Modal header-->
    @if (Model.AuthorId != 0)
    {
        @await Html.PartialAsync("_ModalHeaderPartial", new ModalHeader { Heading = "ویرایش نویسنده" })
    }
    else
    {
        @await Html.PartialAsync("_ModalHeaderPartial", new ModalHeader { Heading = "افزودن نویسنده" })
    }


    <!--Modal body-->
    <div class="modal-body">
        <div class="form-group row center">
            <label asp-for="AuthorName" class="col-lg-3 col-sm-4 col-12  col-form-label" ></label>
            <div class="col-lg-8 col-sm-6 col-12">
                <input asp-for="AuthorName" class=" form-control"  />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row ">
            <label  asp-for="AuthorDescription" class="col-lg-3 col-sm-4 col-form-label"></label>
            <div class="col-lg-8 col-sm-6">
                <input asp-for="AuthorDescription" class=" form-control" />
                <span asp-validation-for="AuthorDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row d-none">
            <label  asp-for="AuthorId" class="col-lg-3 col-sm-3 col-form-label"></label>
            <div class="col-6">
                <input  asp-for="AuthorId" class=" form-control"/>
                <span asp-validation-for="AuthorId"></span>
            </div>
        </div>
        <!--مقدار دهی متغیر ورودی اکشن-->
        <input type="hidden" name="redirectUrl" value="@Url.Action("Index","Author")" />

    </div>

    <!--Modal footer-->
    @if (Model.AuthorId != 0)
    {
        @await Html.PartialAsync("_ModalFooterPartial", new ModalFooter { SubmitButtonText = "ویرایش نویسنده" })
    }
    else
    {
        @await Html.PartialAsync("_ModalFooterPartial", new ModalFooter { SubmitButtonText = "افزودن نویسنده " })
    }
</form>