@*@model Author*@

@model string
<form asp-controller="Author" asp-action="DeleteAuthor">
    <!--modal header -->
    @await Html.PartialAsync("_ModalHeaderPartial", new ModalHeader { Heading = "حذف نویسنده" })

    <!--modal Body -->
    <div class="modal-body">

        @*<table class="table table-bordered table-danger table-active table-hover border-success " >
                <thead class="thead-light">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.AuthorName)</th>
                        <th>@Html.DisplayNameFor(model => model.AuthorDescription)</th>
                    </tr>
                </thead>
                <tbody class="table-danger">
                    <tr>
                        <td>@Model.AuthorName</td>
                        <td>@Model.AuthorDescription</td>
                    </tr>
                </tbody>
            </table>*@

        <p class="text-center">
            <i class="fa fa-times-circle fa-3x  text-danger"></i>
        </p>
        <p class="font-weight-bold font text-center">
            آیا از حذف نویسنده
            <span class="text-danger p-1">" @Model "</span>        @* دریافت نام ارسالی از اکشن*@
            مطمئن هستید؟
        </p>
    </div>



    <!--modal footer -->
    @*@await Html.PartialAsync("_ModalFooterPartial", new ModalFooter { SubmitButtonText = "حذف نویسنده" })*@

    <div class="modal-footer justify-content-center">
        <button type="button" class="btn ml-2" data-dismiss="modal">برگشت </button>
        <input type="submit" id="btn-submit" value="حذف نویسنده" class="btn btn-danger " />
    </div>
</form>