
@model IEnumerable<Author>

@{
    ViewData["Title"] = "لیست نویسندگان";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card mt-3">
    <div class="card-header bg-primary text-light">لیست نویسندگان</div>
    <div class="card-body">
        <a class="btn btn-primary" data-toggle="modal" id="show-add-author" asp-action="AddAuthor">
            <i class="fa fa-plus"></i>
            <span>افزودن نویسندگان</span>
        </a>
        <div></div>
        <table class="table table-bordered table-striped table-sm mt-3">
            <thead class="thead-light">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.AuthorName)</th>
                    <th>@Html.DisplayNameFor(model => model.AuthorDescription)</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.AuthorName</td>
                        <td>@item.AuthorDescription</td>
                        <td>
                            <div>
                                <a class="btn btn-info" data-toggle="modal" id="show-edit-author" asp-action="EditAuthor">
                                    <i class="fa fa-pen"></i>
                                    <span>ویرایش نویسنده</span>
                                </a>
                                <a class="btn btn-danger" data-toggle="modal" id="show-delete-author" asp-action="DeleteAuthor">
                                    <i class="fa fa-trash "></i>
                                    <span>حذف نویسنده</span>
                                </a>
                            </div>

                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>
