


<div class="menu">
    <ul>
        <li class="dashboard ">داشبورد</li>
        <li class="main-li first">

            <a href="#" class="clearfix text-left">
                <span class="float-right">
                    مدیریت سیستم
                </span>
                <i class="fa fa-times "></i>
            </a>
            <ul>
                <li><a asp-controller="User" asp-action="Index">مدیریت کاربران</a></li>
                <li><a asp-controller="ApplicationRole" asp-action="Index">مدیریت نقش ها</a></li>
                <li><a asp-controller="Author" asp-action="Index">مدیریت نویسندگان</a></li>
                <li><a asp-controller="BookGroup" asp-action="Index">مدیریت گروه بندی</a></li>
                <li><a asp-controller="Book" asp-action="Index">مدیریت کتاب ها</a></li>
            </ul>
        </li>

        <li class=" main-li cllo">
            <a href="#" class="clearfix text-left ">
                <span class="float-right">  مدیریت خبر ها</span>
                <i class="fa fa-plus"></i>
            </a>
            <ul>
                <li><a asp-controller="News" asp-action="Index">مدیریت خبر ها</a></li>
            </ul>
        </li>

        <li class="main-li cllo">
            <a href="#" class="clearfix text-left">
                <span class="float-right">مدیریت درخواست کتاب  </span>

                <i class="fa fa-plus"></i>
            </a>

            <ul >
                <li><a asp-controller="ManageRequest" asp-action="Index">مدیریت درخواستهای رسیده</a></li>
               @* <li><a href="#">مدیریت  نشریه ها</a></li>*@
            </ul>
        </li>

    </ul>


</div>
