


<div id="main-last-book">
    <div class="div-header">
        <span>
            آخرین کتاب ها
        </span>
        <div class="my-hr"></div>
    </div>
    <div class="owl-carousel owl-theme">

        <!--
                کلاس
            text-cnter
            برای وسط چین کردن متن داخل اسپن چون به خود اپن میدادیم تاثیری نداشت
            روش دوم تنظیم
            text-align:center
            cssدر
            برای اسپن است
    -->
        <div class="img-thumbnail text-center">
            <a href="#">
                <img src="~/images/book11.jpg" />
                <div class="book-hr"></div>
                <span>بال های شکسته</span>
            </a>
        </div>
        <div class="img-thumbnail text-center">
            <a href="#">
                <img src="~/images/book12.jpg" />
                <div class="book-hr"></div>
                <span>چشمهایش</span>
            </a>
        </div>
        <div class="img-thumbnail text-center">
            <a href="#">
                <img src="~/images/book13.jpg" />
                <div class="book-hr"></div>
                <span>مهلقا و زنان آزاد</span>
            </a>
        </div>
        <div class="img-thumbnail text-center">
            <a href="#">
                <img src="~/images/book14.jpg" />
                <div class="book-hr"></div>
                <span>در پس پرده</span>
            </a>
        </div>
        <div class="img-thumbnail text-center">
            <a href="#">
                <img src="~/images/book15.jpg" />
                <div class="book-hr"></div>
                <span>بانوی من گریه نکن</span>
            </a>
        </div>
        <div class="img-thumbnail text-center">
            <a href="#">
                <img src="~/images/book16.jpg" />
                <div class="book-hr"></div>
                <span>تیمور لنگ</span>
            </a>
        </div>



    </div>
</div>















<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel();
    });
</script>