
@model IEnumerable<News>
<div class="divStyle newsPartial">
    <div class="div-header">
        <span>
            آخرین اخبار و اطلاعیه ها
        </span>
        <div class="my-hr">
        </div>
    </div>

    <div class="lst-news-partial">
        @foreach (var item in Model)
        {
            <a asp-area="Admin" asp-controller="News" asp-action="NewsDetails" asp-route-id="@item.NewsId">
                <img src="@ViewBag.imgPath@item.NewsImage" alt="LstNewsImg" />
                <span>
                    @item.NewsTitle
                </span>
            </a>
            <div class="minhr"></div>
        }



    </div>

</div>
