
<div  class="divStyle newsPartial">
    <div class="div-header">
        <span>
            آخرین اخبار و اطلاعیه ها
        </span>
        <div class="my-hr">
        </div>
    </div>

    <div>


        <img src="~/images/manicon.png" />
        <span>
            بابک خرمدین
        </span>

        <div class="minhr"></div>

        <img src="~/images/woman-icon.png" />
        <span>
            آریو رزن
        </span>

        <div class="minhr"></div>
        <img src="~/images/manicon.png" />
        <span>
            بابک خرمدین
        </span>

        <div class="minhr"></div>

        <img src="~/images/woman-icon.png" />
        <span>
            آریو رزن
        </span>

        <div class="minhr"></div>
        <img src="~/images/manicon.png" />
        <span>
            بابک خرمدین
        </span>

        <div class="minhr"></div>

        <img src="~/images/woman-icon.png" />
        <span>
            آریو رزن
        </span>

    </div>

</div>
