
@model IEnumerable<ApplicationUser>
<div  class="divStyle newsPartial">
    <div class="div-header">
        <span>
            آخرین اخبار و اطلاعیه ها
        </span>
        <div class="my-hr">
        </div>
    </div>

    <div>

        @foreach (var item in Model)
        {
            if (item.Gender == 1)       //اگر مرد بود آواتار مرد نمایش دهد
            {
                <img src="~/images/manicon.png" />
            }
            else
            {
                <img src="~/images/woman-icon.png" />

            }
            <span>
                @item.FirstName @item.LastName
            </span>

            <div class="minhr"></div>
        }

    </div>

</div>
