

<div  class="divStyle newsPartial">
    <div class="div-header">
        <span>
            آخرین اخبار و اطلاعیه ها
        </span>
        <div class="my-hr">
        </div>
    </div>

    <div>

        <a href="#">
            <img src="~/images/pic-small1.jpg" />
            <span>
                طلاعیه شماره دو
            </span>
        </a>
        <div class="minhr"></div>
        <a href="#">
            <img src="~/images/pic-small2.jpg" />
            <span>
                طلاعیه شماره دو
            </span>
        </a>
        <div class="minhr"></div>
        <a href="#">
            <img src="~/images/pic-small3.jpg" />
            <span>
                روش آسان یادگرفتن جدول ضرب
            </span>
        </a>
        <div class="minhr"></div>
        <a href="#">
            <img src="~/images/pic-small4.jpg" />
            <span>
                طلاعیه شماره دو
            </span>
        </a>
        <div class="minhr"></div>
        <a href="#">
            <img src="~/images/pic-small5.jpg" />
            <span>
                روش آسان یادگرفتن جدول ضرب
            </span>
        </a>

    </div>

</div>
