
@model IEnumerable<Book>
<div class="most-viewed">
    <div class="div-header">
        <span>
            پربازدید ترین کتاب ها
        </span>
        <div class="my-hr"></div>
    </div>


    <div class="container">
        <div class="row  text-center ">
            @foreach (var item in Model)
            {
                <div class="most-viewed-content col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="img-thumbnail d-inline-block">
                        <a asp-area="Admin" asp-controller="Book" asp-action="BookDetails" asp-route-id="@item.BookId">

                            <!--using img-fluid to responsive img and prevent img from being out of it 's parent  -->
                            <img class="img-fluid" src="@ViewBag.imgPath@item.BookImage" />
                            <div class="book-hr"></div>
                            <span>@item.BookName</span>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>

</div>