
<div class="most-viewed">
    <div class="div-header">
        <span>
            پربازدید ترین کتاب ها
        </span>
        <div class="my-hr"></div>
    </div>


    <div class="container">
        <div class="row  text-center ">
            <div class="most-viewed-content col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="img-thumbnail d-inline-block">
                    <a href="#">

                       <!--using img-fluid to responsive img and prevent img from being out of it 's parent  -->
                        <img class="img-fluid" src="~/images/book14.jpg" />
                        <div class="book-hr"></div>
                        <span> بالهای شکسته</span>
                    </a>
                </div>
            </div>
            <div class="most-viewed-content col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="img-thumbnail ">
                    <a href="#">
                        <img class="img-fluid" src="~/images/book11.jpg" />
                        <div class="book-hr"></div>
                        <span> بالهای شکسته</span>
                    </a>
                </div>
            </div>
            <div class="most-viewed-content col-lg-4 col-md-6 col-sm-6 ">
                <div class="img-thumbnail ">
                    <a href="#">
                        <img class="img-fluid" src="~/images/book15.jpg" />
                        <div class="book-hr"></div>
                        <span> بالهای شکسته</span>
                    </a>
                </div>
            </div>
            <div class="most-viewed-content col-lg-4 col-md-6 col-sm-6 col-12">
                <div  class="img-thumbnail ">
                    <a href="#">
                        <img  class="img-fluid" src="~/images/book13.jpg" />
                        <div class="book-hr"></div>
                        <span> بالهای شکسته</span>
                    </a>
                </div>
            </div>
            <div class="most-viewed-content col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="img-thumbnail ">
                    <a href="#">
                        <img class="img-fluid"  src="~/images/book10.jpg" />
                        <div class="book-hr"></div>
                        <span> بالهای شکسته</span>
                    </a>
                </div>
            </div>



        </div>
    </div>

</div>