


<div class="main-last-book">
    <div class="div-header">
        <span>
            کتاب های علمی
        </span>
        <div class="my-hr"></div>
    </div>
    <div class="owl-carousel owl-theme owl-last-book">

        <!--
                کلاس
            text-cnter
            برای وسط چین کردن متن داخل اسپن چون به خود اپن میدادیم تاثیری نداشت
            روش دوم تنظیم
            text-align:center
            cssدر
            برای اسپن است
    -->
        <div class="img-thumbnail text-center mr-lg-5 mr-sm-2 mr-1">
            <a href="#">
                <img src="~/images/bookelmi1.jpg" />
                <div class="book-hr"></div>
                <span>بال های شکسته</span>
            </a>
        </div>
        <div class="img-thumbnail text-center mr-lg-5 mr-sm-2 mr-1">
            <a href="#">
                <img src="~/images/bookelmi2.png" />
                <div class="book-hr"></div>
                <span>کتاب های مرجع</span>
            </a>
        </div>
        <div class="img-thumbnail text-center mr-lg-5 mr-sm-2 mr-1">
            <a href="#">
                <img src="~/images/bookelmi3.png" />
                <div class="book-hr"></div>
                <span>کتاب اول راهنمایی</span>
            </a>
        </div>
        <div class="img-thumbnail text-center mr-lg-5 mr-sm-2 mr-1">
            <a href="#">
                <img src="~/images/bookelmi4.jpg" />
                <div class="book-hr"></div>
                <span>بال های شکسته</span>
            </a>
        </div>
        <div class="img-thumbnail text-center mr-lg-5 mr-sm-2 mr-1">
            <a href="#">
                <img src="~/images/bookelmi6.jpg" />
                <div class="book-hr"></div>
                <span>بال های شکسته</span>
            </a>
        </div>

    </div>
</div>
