
@model IEnumerable<Book>

<div class="main-last-book">
    <div class="div-header">
        <span>
            کتاب های علمی
        </span>
        <div class="my-hr"></div>
    </div>
    <div class="owl-carousel owl-theme owl-last-book">

        <!--
                    کلاس
                text-cnter
                برای وسط چین کردن متن داخل اسپن چون به خود اپن میدادیم تاثیری نداشت
                روش دوم تنظیم
                text-align:center
                cssدر
                برای اسپن است
        -->
        @foreach (var item in Model)
        {
            <div class="img-thumbnail text-center mr-lg-5 mr-sm-2 mr-1 mb-1">
                <a href="#">
                    <img src="@ViewBag.imgPath@item.BookImage" />
                    <div class="book-hr"></div>
                    <span>@item.BookName</span>
                </a>
            </div>
        }


    </div>
</div>
