@{
    ViewData["Title"] = "NotFounds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container ">
    <div class="jumbotron m-2">
        <div class="text-center p-5 m-5">
            <h2 class="text-danger ">متاسفانه صفحه مورد نظریافت نشد</h2>
        </div>
    </div>
</div>