

@model ApplicationRoleViewModel
<form asp-controller="ApplicationRole" asp-action="AddEditRole" id="form-addedit-applicationrRole"
      data-ajax="true" data-ajax-method="POST" data-ajax-update="#form-addedit-applicationrRole" data-ajax-mode="replace">
    <!--If you add a role="form" to a form, a screen reader sees it as a region on a webpage.
    <!--If you add a role="form" to a form, a screen reader sees it as a region on a webpage.
      That means that a user can easily jump to the form with his/her region quick navigation keys-->
    <!--###########################################################################################################-->
    <!--And also, your user will be able to easily find where the form starts and ends because screen readers mark start and end of regions.-->
    <!--## Modal header ##-->
    <!--اگر ای دی وجود داشت(چون آی دی است صفر نیست) و  خالی نبود(چون ازنوع اینتیجر است و مقدار پیش فرض ان صفر است ،منظور از وجود داشتن این است که صفر نباشد) متن دکمه را به ویرایش تغییر بده-->
    @if (!string.IsNullOrEmpty(Model.Id))
    {
        @await Html.PartialAsync("_ModalHeaderPartial", new ModalHeader { Heading = "ویرایش نقش سیستمی" })

    }
    else
    {
        @await Html.PartialAsync("_ModalHeaderPartial", new ModalHeader { Heading = "افزودن نقش سیستمی" })

    }

    <!--Modal Body-->
    <div class="modal-body">


        <div class="form-group row ">

            <!-- col-form-label for adjusting vertically label and input placeholder in horizontally forms-->
            <!--if vertically adhustment dosen't matter you should use the form-control class-->
            <!--Added new .col-form-label class to vertically center labels with .form-controls.-->

            <label class="col-3 col-form-label" asp-for="Name"></label>
            <div class="col-6">
                <input asp-for="Name" class=" form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <!--row for setting the label and the input horizontally insted of vertically-->

        <div class="form-group row">

            <label class="col-3 col-form-label" asp-for="Description"></label>
            <div class="col-6">
                <input asp-for="Description" class=" form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>



        <div class="form-group row d-none">
            <label class="col-3 col-form-label" asp-for="Id"></label>
            <div class="col-6">
                <input asp-for="Id" class=" form-control" />
            </div>
        </div>
        <input type="hidden" name="redirectUrl" value="@Url.Action("Index","ApplicationRole")" />

    </div>

    <!--Modal Footer-->
    <!--اگر ای دی وجود داشت و نال و خالی نبود متن دکمه را به ویرایش تغییر بده-->
    @if (!String.IsNullOrEmpty(Model.Id))
    {
        @await Html.PartialAsync("_ModalFooterPartial", new ModalFooter { SubmitButtonText = "ویرایش نقش" })

    }
    else
    {
        @await Html.PartialAsync("_ModalFooterPartial", new ModalFooter { SubmitButtonText = "افزودن نقش" })
    }
</form>



